<app-navbar></app-navbar>

<div class="flex flex-col items-center bg-background-dark">
  <div class="w-full max-w-4xl min-h-screen grow flex flex-col">
    <form class="px-4 py-6 flex flex-col gap-4 bg-background-light text-white" [formGroup]="searchForm">
      <input type="search" name="search" id="search" placeholder="Buscar..."
        class="px-4 py-2 my-2 text-lg w-full rounded-full bg-background-dark">

      <div class="flex flex-col gap-1">
        <label for="science" class="font-light">Especialización</label>
        <div class="flex flex-row gap-2">
          <select formControlName="science" name="science" id="science"
            (change)="searchForm.controls.specialization.reset()"
            class="w-1/2 p-1 text-ellipsis text-white bg-background-dark rounded">
            <option [ngValue]="null">Todo</option>
            <option *ngFor="let opt of searchFormOptions" [ngValue]="opt">{{opt.title}}</option>
          </select>
          <select formControlName="specialization"
            class="w-1/2 p-1 text-white text-ellipsis bg-background-dark rounded">
            <option [ngValue]="null">Todo</option>
            <option *ngFor="let spec of searchForm.get('science')?.value?.specializations || []" [ngValue]="spec">
              {{spec}}
            </option>
          </select>
        </div>
      </div>

      <div class="flex flex-col gap-1">
        <label for="location" class="font-light">Ubicación</label>
        <div class="flex flex-row">
          <input type="text" name="location" id="location" placeholder="Argentina"
            class="w-full p-1 text-white text-ellipsis bg-background-dark rounded">
        </div>
      </div>
    </form>

    <div class="text-white bg-background-dark">
      <h1 class="px-6 py-2 text-xl font-bold">Resultados</h1>

      <div class="px-8 py-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        <a *ngFor="let _ of [].constructor(5)" routerLink="/profile/test"
          class="w-full flex flex-row gap-4 items-center p-2 rounded-tl-3xl rounded-xl bg-primary-medium">
          <img src="assets/avatar/4.webp" alt="avatar" class="w-16 h-16 rounded-full">
          <div class="flex flex-col grow">
            <h2 class="font-bold">Patricia Estela Verdes</h2>
            <h3 class="text-xs">Ciencias agropecuarias y Veterinaria</h3>
            <h4 class="text-xs font-light">San Luis</h4>
          </div>
          <span class="p-1 bg-background-dark text-primary-light rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
              <path
                d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z"
                clip-rule="evenodd" fill-rule="evenodd" />
            </svg>
          </span>
        </a>

      </div>
    </div>
  </div>
</div>
