<div class="container flex mx-auto max-w-screen-md items-center h-screen gap-8">
  <div class="flex w-3/5 drop-shadow">
    <img src="assets/faces.jpg" class="w-full" alt="Avatars">
  </div>
  <div class="flex flex-col w-2/5 gap-4">
    <!-- Form -->
    <div class="flex flex-col gap-2 border rounded p-4 bg-white">
      <h1 class="font-bold text-xl text-center">Contact.ar Ciencia</h1>
      <p *ngIf="logInFailed" class="text-red-600 text-sm">El usuario o contraseña son inválidos</p>
      <form [formGroup]="logInForm" (ngSubmit)="onLogIn()" class="flex flex-col gap-2">
        <input type="email" name="email" id="email" placeholder="Correo electrónico" formControlName="email"
          class="text-sm rounded border p-2 outline-lime-600">
        <input type="text" name="password" id="password" placeholder="Contraseña" formControlName="password"
          class="text-sm rounded border p-2 outline-lime-600">
        <button type="submit" [disabled]="logInForm.invalid" class="bg-lime-600 text-white font-bold rounded border py-1 disabled:bg-slate-200 disabled:text-slate-400">Iniciar
          Sesión</button>
      </form>
    </div>

    <!-- Sign-up -->
    <div class="border rounded p-4 bg-white text-center">
      <p>¿No tienes una cuenta? <a routerLink="/signup" class="font-bold text-lime-600 hover:underline">Registrarse</a>
      </p>
    </div>
  </div>
</div>
