<div class="container flex mx-auto max-w-screen-md items-center h-screen gap-8">
  <div class="flex w-3/5 drop-shadow">
    <img src="assets/faces.jpg" class="w-full" alt="Avatars">
  </div>
  <div class="flex flex-col w-2/5 gap-4">
    <!-- Form -->
    <div class="flex flex-col gap-2 border rounded p-4  bg-white ">
      <h1 class="font-bold text-xl text-center">Tu Entrevistadx</h1>
      <p class="text-red-600 text-sm hidden">El correo electrónico introducido se encuentra en uso</p>
      <form action="" method="post" class="flex flex-col gap-2">
        <input type="email" name="" id="" placeholder="Correo electrónico"
          class="text-sm rounded border p-2 outline-lime-600">
        <input type="password" name="" id="" placeholder="Contraseña"
          class="text-sm rounded border p-2 outline-lime-600">
        <button type="submit" class="bg-lime-600 text-white font-bold rounded border py-1">Iniciar Sesión</button>
      </form>
    </div>

    <!-- Sign-up -->
    <div class="border rounded p-4 bg-white text-center">
      <p>¿No tienes una cuenta? <a routerLink="/signup" class="font-bold text-lime-600 hover:underline">Registrarse</a>
      </p>
    </div>
  </div>
</div>
