<app-navbar></app-navbar>

<div class="flex flex-col items-center bg-background-dark">
  <div class="w-full max-w-6xl">
    <div class="px-8 py-12">
      <div class="flex flex-col items-center">
        <img src="assets/logo-dark.png" class="m-auto" alt="Contact.ar Ciencia" class="max-h-32">
        <h2 class="text-xl text-white font-light">
          Contactá expertxs de todas las áreas en <span class="font-normal">Argentina</span>
        </h2>
      </div>

      <form class="mt-4 flex flex-row justify-center gap-2">
        <input type="search" placeholder="Experticia" class="rounded p-2">
        <button type="submit" routerLink="/search" class="bg-primary-light font-bold rounded text-black px-6">
          Buscar
        </button>
      </form>
    </div>

    <div class="curves bg-background-dark">
      <div class="light-curve"></div>
      <div class="medium-curve"></div>
    </div>

    <div class="bg-primary-medium text-white">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 py-2 px-8">
        <a *ngFor="let c of ciences; let i = index" routerLink="/search">
          <div class="bg-background-dark rounded-xl p-4">
            <h3 class="font-bold">{{ c.title }}</h3>
            <p class="text-end font-light">{{ ((i + 1) * 3597) % 113 }} resultados</p>
          </div>
        </a>
      </div>

      <p class="py-8 text-center">
        ¿Interesado en ser parte? <a routerLink="/participate" class="font-bold underline">Comienze aquí</a>
      </p>
    </div>
  </div>
</div>
