<div class="flex flex-col h-screen bg-background-dark text-white">

  <div class="bg-background-dark px-12 pt-10">
    <img src="assets/logo-dark.png" alt="Contact.ar Ciencia">
  </div>

  <div class="relative h-24 overflow-hidden">
    <div class="curve"></div>
  </div>

  <div class="flex flex-col gap-8 p-16 h-full bg-background-light">

    <form class="flex flex-col gap-4">
      <input type="text" name="" id="full-name" placeholder="Nombre completo"
        class="border-b-2 border-white bg-transparent rounded-t outline-white p-2">

      <input type="tel" name="phone-number" id="phone-number" placeholder="Teléfono"
        class="border-b-2 border-white bg-transparent rounded-t outline-white p-2">

      <input type="email" name="email" id="email" placeholder="Email"
        class="border-b-2 border-white bg-transparent rounded-t outline-white p-2">

      <input type="password" name="password" id="password" placeholder="Contraseña"
        class="border-b-2 border-white bg-transparent rounded-t outline-white p-2">

      <button type="submit" class="button-shadow text-black bg-primary-light text-xl font-bold rounded-full py-4 my-8">
        Registarse
      </button>
    </form>

    <div class="text-center">
      <p>¿Ya tienes una cuenta? <a routerLink="/login" class="underline hover:text-primary-light">Iniciar Sesión</a>
      </p>
    </div>

  </div>
</div>
