<div class="flex flex-col items-center h-screen bg-background-dark">
  <app-progress [visible]="isLoading"></app-progress>

  <div class="max-w-3xl h-full flex flex-col text-white">

    <div class="bg-background-dark px-12 pt-10">
      <a routerLink="/">
        <img src="assets/logo-dark.png" alt="Contact.ar Ciencia">
      </a>
    </div>

    <div class="relative h-16 overflow-hidden">
      <div class="curve"></div>
    </div>

    <div class="grow flex flex-col gap-8 p-16 h-full bg-background-light">
      <form [formGroup]="signupForm" class="flex flex-col gap-4" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="name" placeholder="Nombre completo"
          class="border-b-2 border-white bg-transparent rounded-t outline-white p-2"
          [class.border-red-500]="signupForm.controls.name.errors != null">

        <input type="tel" formControlName="phoneNumber" placeholder="Teléfono"
          class="border-b-2 border-white bg-transparent rounded-t outline-white p-2"
          [class.border-red-500]="signupForm.controls.phoneNumber.errors != null">

        <input type="email" formControlName="email" placeholder="Email"
          class="border-b-2 border-white bg-transparent rounded-t outline-white p-2"
          [class.border-red-500]="signupForm.controls.email.errors != null">

        <input type="password" formControlName="password" placeholder="Contraseña"
          class="border-b-2 border-white bg-transparent rounded-t outline-white p-2"
          [class.border-red-500]="signupForm.controls.password.errors != null">

        <div *ngIf="signUpError" class="text-sm text-red-500">{{ signUpError }}</div>

        <button type="submit" [disabled]="signupForm.invalid"
          class="button-shadow text-black bg-primary-light text-xl font-bold rounded-full py-4 my-8">
          Registarse
        </button>
      </form>

      <div class="text-center">
        <p>¿Ya tienes una cuenta?</p>
        <a routerLink="/login" class="underline hover:text-primary-light">Iniciar Sesión</a>
      </div>

    </div>
  </div>
</div>
