<app-navbar></app-navbar>

<div class="px-4 py-8 bg-background-light">

  <div class="flex flex-col gap-4 p-4 rounded-xl text-white bg-gradient-to-b from-primary-medium to-background-dark">

    <form [formGroup]="aboutForm" class="flex flex-col gap-4">
      <h2 class="font-bold text-lg">Acerca de</h2>

      <div>
        <label for="name" class="block text-sm font-bold">Nombre</label>
        <input type="text" name="name" id="name" formControlName="name" class="w-full bg-transparent border-b">
      </div>

      <div>
        <label for="city" class="block text-sm font-bold">Ciudad</label>
        <input type="text" name="city" id="city" formControlName="city" class="w-full bg-transparent border-b">
      </div>

      <div>
        <label for="province" class="block text-sm font-bold">Provincia</label>
        <input type="text" name="province" id="province" formControlName="province"
          class="w-full bg-transparent border-b">
      </div>

      <div>
        <label for="cover" class="block text-sm font-bold">Biografía</label>
        <textarea name="cover" id="cover" formControlName="cover" cols="9999" rows="5"
          class="max-w-full w-full bg-transparent border-b"></textarea>
      </div>

      <div class="flex flex-row items-center gap-4">
        <img [src]="aboutForm.value.picture" alt="avatar" class="h-24 rounded-full">
        <button class="px-4 py-2 rounded bg-primary-light text-black" (click)="pictureInput.click()">Elegir
          fotografía</button>
        <input #pictureInput type="file" accept="image/*" name="picture" id="picture" formControlName="picture"
          class="hidden">
      </div>
    </form>

  </div>
</div>
