<app-progress [visible]="isLoading"></app-progress>

<app-navbar></app-navbar>

<div class="flex flex-col items-center bg-background-dark">
  <div class="w-full max-w-4xl px-4 py-8">

    <form [formGroup]="profileForm" (ngSubmit)="onSave()"
      class="flex flex-col gap-8 p-4 rounded-xl text-white bg-gradient-to-b from-primary-medium to-background-dark">
      <div class="flex flex-col gap-4">
        <h2 class="font-bold text-xl self-center md:self-start">Acerca de</h2>

        <div>
          <label for="name" class="block text-sm font-bold mb-1">Nombre</label>
          <input type="text" name="name" id="name" formControlName="name" class="w-full bg-transparent border-b"
            [class.border-red-500]="profileForm.controls.name.errors != null">
        </div>

        <div formGroupName="location">
          <label for="city" class="block text-sm font-bold mb-1">Ciudad</label>
          <input type="text" name="city" id="city" formControlName="city" class="w-full bg-transparent border-b"
            [class.border-red-500]="profileForm.controls.location.controls.city.errors != null">
        </div>

        <div formGroupName="location">
          <label for="province" class="block text-sm font-bold mb-1">Provincia</label>
          <input type="text" name="province" id="province" formControlName="province"
            class="w-full bg-transparent border-b"
            [class.border-red-500]="profileForm.controls.location.controls.province.errors != null">
        </div>

        <div>
          <label for="coverLetter" class="block text-sm font-bold mb-1">Biografía</label>
          <textarea name="coverLetter" id="coverLetter" formControlName="coverLetter" cols="9999" rows="5"
            class="max-w-full w-full bg-transparent border-b"
            [class.border-red-500]="profileForm.controls.coverLetter.errors != null">
          </textarea>
        </div>

        <div class="flex flex-row items-center gap-4">
          <img [src]="picturePreview" alt="avatar" class="w-16 h-16 md:w-24 md:h-24 rounded-full object-cover">
          <button type="button" (click)="pictureInput.click()" class="px-4 py-2 rounded bg-primary-light text-black">
            Elegir fotografía
          </button>
          <input #pictureInput type="file" accept="image/*" name="picture" id="picture"
            (change)="onPictureEvent($event)" class="hidden">
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <h2 class="font-bold text-xl self-center md:self-start">Competencias</h2>

        <div>
          <label for="specialization" class="block text-sm font-bold mb-1">Especialización</label>
          <div class="flex flex-row gap-2">
            <select formControlName="science" name="science" id="science"
              (change)="profileForm.controls.specialization.reset()"
              class="w-1/2 p-1 text-ellipsis text-white bg-background-dark rounded" [ngClass]="
                profileForm.controls.science.errors
                  ? 'border border-red-500'
                  : 'border border-transparent'">
              <option *ngFor="let science of allSciences" [ngValue]="science">
                {{ science }}
              </option>
            </select>
            <select formControlName="specialization"
              class="w-1/2 p-1 text-white text-ellipsis bg-background-dark rounded" [ngClass]="
                profileForm.controls.specialization.errors
                  ? 'border border-red-500'
                  : 'border border-transparent'">
              <option *ngFor="let spec of (validSpecializations$ | async)" [ngValue]="spec">
                {{ spec }}
              </option>
            </select>
          </div>
        </div>

        <div>
          <label for="skills" class="block text-sm font-bold mb-1">
            Habilidades y/o Capacidades<span class="font-normal italic"> (al menos 4, separadas por comas)</span>
          </label>
          <input type="text" name="skills" id="skills" formControlName="skills" class="w-full bg-transparent border-b"
            [class.border-red-500]="profileForm.controls.skills.errors != null">
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <h2 class="font-bold text-xl self-center md:self-start">Experiencia Profesional</h2>

        <form [formGroup]="newWorkExperience" (ngSubmit)="onNewWorkExperience()" class="flex flex-col gap-2">
          <div>
            <label for="title" class="block text-sm font-bold mb-1">Titulo</label>
            <input type="text" name="title" id="title" formControlName="title" class="w-full bg-transparent border-b">
          </div>

          <div>
            <label for="start_date" class="block text-sm font-bold mb-1">Período</label>
            <div class="flex flex-row gap-2">
              <input type="date" name="start_date" id="start_date" formControlName="start_date"
                class="w-1/2 p-1 text-ellipsis text-white bg-background-dark rounded">
              <span class="block opacity-20">&mdash;</span>
              <input type="date" name="end_date" id="end_date" formControlName="end_date"
                class="w-1/2 p-1 text-ellipsis text-white bg-background-dark rounded">
            </div>
          </div>

          <div>
            <label for="description" class="block text-sm font-bold mb-1">Descripción</label>
            <textarea name="description" id="description" formControlName="description" cols="9999" rows="5"
              class="max-w-full w-full bg-transparent border-b"></textarea>
          </div>

          <button type="submit" class="px-2 py-1 self-end bg-primary-light rounded text-black">
            Añadir
          </button>
        </form>

        <div class="flex flex-col gap-2">
          <div *ngFor="let we of profileForm.controls['workExperience'].value; let i = index"
            class="flex flex-col gap-2 text-sm">
            <h3 class="">{{ we.title }} </h3>
            <span class="font-light">{{ we.start_date }} &ndash; {{ we.end_date }}</span>
            <p class="italic">&ldquo;{{ we.description }}&rdquo;</p>
            <button type="button" (click)="removeWorkExperienceAt(i)" class="self-end px-2 rounded bg-red-500">
              Eliminar
            </button>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <h2 class="font-bold text-xl self-center md:self-start">Contacto</h2>

        <div formGroupName="contact">
          <label for="phone" class="block text-sm font-bold mb-1">Teléfono</label>
          <input type="tel" name="phone" id="phone" formControlName="phone" class="w-full bg-transparent border-b">
        </div>

        <div>
          <label for="url" class="block text-sm font-bold mb-1">Sitios Personales</label>
          <form [formGroup]="newURL" class="flex flex-row" (ngSubmit)="onNewURL()">
            <input type="url" name="url" id="url" formControlName="url" class="grow-1 w-full bg-transparent border-b">
            <button type="submit" class="ml-4 grow-0 bg-primary-light px-2 rounded">&plus;</button>
          </form>
        </div>

        <ul class="flex flex-col gap-2">
          <li *ngFor="let url of profileForm.controls.contact.controls.urls.value; let i = index" class="flex flex-row">
            <a [href]="url" class="grow-1 w-full underline">{{ url }}</a>
            <button type="button" (click)="removeUrlAt(i)" class="ml-4 grow-0 bg-red-500 px-2 rounded">&#8722;</button>
          </li>
        </ul>
      </div>

      <div class="self-center md:self-end flex flex-col gap-2 items-center">
        <button [disabled]="profileForm.invalid || isLoading" type="submit"
          class="px-6 py-1 text-lg bg-primary-light rounded text-black">
          Guardar Cambios
        </button>

        <span class="text-sm text-green-600" *ngIf="saveResult == 'ok'">
          Se han guardado los cambios
        </span>
        <span class="text-sm text-red-600" *ngIf="saveResult == 'error'">
          Se ha producido un error
        </span>
      </div>
    </form>
  </div>
</div>
