<div class="container flex flex-col mx-auto max-w-screen-md items-center justify-center h-screen">
  <div class="border rounded p-16">
    <div class="mb-8">
      <h1 class="text-center text-3xl">Ser parte de <span class="font-bold text-lime-600">Contact.ar Ciencia</span></h1>
    </div>
    <div class="flex flex-row gap-4">
      <div class="flex flex-col gap-4 items-center px-4 border-r-2">
        <h2 class="text-xl font-bold">Investigadores y Periodístas</h2>
        <p class="text-center">Puede consultar nuestro índice de expertos en una multitud de áreas científicas y
          especializaciones ubicadoes en diferentes regiones del país.</p>
        <a routerLink="/search" class="bg-lime-600 hover:bg-lime-700 text-white rounded px-4 py-2">Visitar el Índice</a>
      </div>
      <div class="flex flex-col gap-4 items-center px-4">
        <h2 class="text-xl font-bold">Científicos y Profesionales</h2>
        <p class="text-center">Si usted es un científico y/o profesional y quiere ofrecer sus conocimientos a la
          comunidad, lo invitamos a que sea parte de este proyecto.</p>
        <a routerLink="/signup" class="bg-lime-600 hover:bg-lime-700 text-white rounded px-4 py-2">Registrarse</a>
      </div>
    </div>
  </div>
</div>
